
<section class="login-page">
  <div class="login-page-container">
    <div class="login-page-container-left">
      <img class="login-page-container-left-logo" src="@/assets/streaming.svg" alt="">
      <form class="login-page-container-left-form" action="">
        <label class="login-page-container-left-form-label">Email</label>
        <input class="login-page-container-left-form-input" type="email" >
        <label class="login-page-container-left-form-label">Password</label>
        <input class="login-page-container-left-form-input" type="password">
        <button class="login-page-container-left-form-button">Submit</button>
      </form>
    </div>
    <div class="login-page-container-right">
      <video src="@/assets/Main_Build.mp4" width="250rem" autoplay muted loop></video>
      <video src="@/assets/Main_Build.mp4" width="250rem" autoplay muted loop></video>
      <video src="@/assets/Main_Build.mp4" width="250rem" autoplay muted loop></video>
    </div>
  </div>
</section>

